<a href="https://colab.research.google.com/github/Patrick-jose93/ENGENHARIA-DE-SOFTWARE/blob/main/Untitled14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import sqlite3

banco = sqlite3.connect('DEPOSITO.db')

cursor = banco.cursor()


cursor.execute(''' CREATE TABLE IF NOT EXISTS produtos(
nome text,
  categoria text,
  quantidade integer,
             localizacao text  )''')

def inserir_produto(nome, categoria, quantidade, localizacao):
      cursor.execute("INSERT INTO produtos(nome, categoria, quantidade, localizacao) VALUES (?, ?, ?, ?)", (nome, categoria, quantidade, localizacao))
      banco.commit()

inserir_produto('Notebook Dell', 'Eletrônicos', 10, 'Depósito 1')



cursor.execute("SELECT * FROM produtos")

print(cursor.fetchall())

[('Notebook Dell', 'Eletrônicos', 10, 'Depósito 1'), ('Notebook Dell', 'Eletrônicos', 10, 'Depósito 1')]