<a href="https://colab.research.google.com/github/Patrick-jose93/ENGENHARIA-DE-SOFTWARE/blob/main/untitled12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlite3


vendas = sqlite3.connect('dados_vendas.db')

cursor = vendas.cursor()

#cursor.execute('''
#CREATE TABLE vendas1 (
#id_venda INTEGER PRIMARY KEY AUTOINCREMENT,
#data_venda DATE,
#produto TEXT,
#categoria TEXT,
#valor_venda REAL
#)
#''')

#cursor.execute ('''
#INSERT INTO vendas1 (data_venda, produto, categoria, valor_venda) VALUES
#('2023-01-01', 'Produto A', 'Eletrônicos', 1500.00),
#('2023-01-05', 'Produto B', 'Roupas', 350.00),
#('2023-02-10', 'Produto C', 'Eletrônicos', 1200.00),
#('2023-03-15', 'Produto D', 'Livros', 200.00),
#('2023-03-20', 'Produto E', 'Eletrônicos', 800.00),
#('2023-04-02', 'Produto F', 'Roupas', 400.00),
#('2023-05-05', 'Produto G', 'Livros', 150.00),
#('2023-06-10', 'Produto H', 'Eletrônicos', 1000.00),
#('2023-07-20', 'Produto I', 'Roupas', 600.00),
#('2023-08-25', 'Produto J', 'Eletrônicos', 700.00),
#('2023-09-30', 'Produto K', 'Livros', 300.00),
#('2023-10-05', 'Produto L', 'Roupas', 450.00),
#('2023-11-15', 'Produto M', 'Eletrônicos', 900.00),
#('2023-12-20', 'Produto N', 'Livros', 250.00);
#''')

#vendas.commit()

cursor.execute('SELECT * FROM vendas1 ')
print(cursor.fetchall())

[(1, '2023-01-01', 'Produto A', 'Eletrônicos', 1500.0), (2, '2023-01-05', 'Produto B', 'Roupas', 350.0), (3, '2023-02-10', 'Produto C', 'Eletrônicos', 1200.0), (4, '2023-03-15', 'Produto D', 'Livros', 200.0), (5, '2023-03-20', 'Produto E', 'Eletrônicos', 800.0), (6, '2023-04-02', 'Produto F', 'Roupas', 400.0), (7, '2023-05-05', 'Produto G', 'Livros', 150.0), (8, '2023-06-10', 'Produto H', 'Eletrônicos', 1000.0), (9, '2023-07-20', 'Produto I', 'Roupas', 600.0), (10, '2023-08-25', 'Produto J', 'Eletrônicos', 700.0), (11, '2023-09-30', 'Produto K', 'Livros', 300.0), (12, '2023-10-05', 'Produto L', 'Roupas', 450.0), (13, '2023-11-15', 'Produto M', 'Eletrônicos', 900.0), (14, '2023-12-20', 'Produto N', 'Livros', 250.0)]